@font-face {
	font-weight: 400;
	font-family: 'Inter';
	font-style: normal;

	font-display: swap;
	src: url('../../shared/assets/fonts/Inter-Regular.woff2'),
		url('../../shared/assets/fonts/Inter-Regular.woff');
}

@font-face {
	font-weight: 500;
	font-family: 'Inter';
	font-style: normal;

	font-display: swap;
	src: url('../../shared/assets/fonts/Inter-Medium.woff2'),
		url('../../shared/assets/fonts/Inter-Medium.woff');
}

@font-face {
	font-weight: 900;
	font-family: 'Inter';
	font-style: normal;

	font-display: swap;
	src: url('../../shared/assets/fonts/Inter-Black.woff2'),
		url('../../shared/assets/fonts/Inter-Black.woff');
}
